Title {__APPNAME}
Version {__VERSION}
Description A toolkit for displaying OpenGL applications to thin clients

DefaultLocation /
DeleteWarning 

### Package Flags

NeedsAuthorization YES
Required NO
Relocatable NO
RequiresReboot NO
UseUserMask NO
OverwritePermissions NO
InstallFat NO
RootVolumeOnly NO
OnlyUpdateInstalledLanguages NO
