ARCH=sparc
PKG={__PKGNAME}
NAME={__APPNAME} 64-bit server
VERSION={__VERSION},REV={__BUILD}
SUNW_PRODNAME={__APPNAME}64
SUNW_PRODVERS=1.0
SUNW_PKGVERS=1.0
DESC=A system which allows real-time remote display of any OpenGL application
VENDOR=The VirtualGL Project
HOTLINE=Please contact your local service provider
EMAIL=dcommander@users.sourceforge.net
MAXINST=1000
CATEGORY=application
BASEDIR=/opt
CLASSES=none
